.layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #e3e5e8;
  box-sizing: border-box; /* padding을 포함한 크기 유지 */
  padding: 10px;
  gap: 10px;
}

.layout-container > .left {
  display: flex;
  width: 300px;
  min-width: 200px; /* 최소 너비 설정 */
  height: 100%;
  gap: 10px;
  background-color: #e3e5e8;
}

.layout-container > .center {
  flex: 1; /* 남은 공간을 유연하게 차지 */
  height: 100%;
  border-radius: 10px;
}

.layout-container > .right {
  width: 300px; /* 고정된 너비 */
  min-width: 200px; /* 최소 너비 설정 */
  height: 100%;
  border-radius: 10px;
  /* box-sizing: border-box; */
}

@media (max-width: 1024px) {
  .right {
    display: none;
  }
}

/* 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {
  .layout-container {
    gap: 5px; /* 간격 축소 */
  }

  .layout-container > .left {
    display: none; /* right 섹션 숨기기 */
  }

  .layout-container > .right {
    display: none; /* right 섹션 숨기기 */
  }

  .layout-container > .center {
    flex: 1; /* 남은 공간을 모두 차지 */
  }
}

/* 스크롤바의 전체 배경 */
::-webkit-scrollbar {
  width: 8px; /* 세로 스크롤바의 너비 */
  height: 8px; /* 가로 스크롤바의 높이 */
}

/* 스크롤바의 배경 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙 배경 색 */
  border-radius: 10px; /* 트랙의 둥근 모서리 */
}

/* 스크롤바의 핸들 (사용자가 잡을 수 있는 부분) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* 핸들 배경 색 */
  border-radius: 10px; /* 핸들의 둥근 모서리 */
  border: 2px solid #f1f1f1; /* 핸들 주변의 경계 */
}

/* 스크롤바 핸들이 호버될 때 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 호버 시 핸들의 배경 색 */
}

/* toast alert */
.Toastify__toast {
  width: 370px !important;
}
