.layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #e3e5e8;
  box-sizing: border-box; /* padding을 포함한 크기 유지 */
  padding: 10px;
  gap: 10px;
}

.layout-container > .left {
  display: flex;
  width: 300px;
  min-width: 200px; /* 최소 너비 설정 */
  height: 100%;
  gap: 10px;
  background-color: #e3e5e8;
}

.layout-container > .center {
  flex: 1; /* 남은 공간을 유연하게 차지 */
  height: 100%;
  border-radius: 10px;
}

.layout-container > .right {
  width: 300px; /* 고정된 너비 */
  min-width: 200px; /* 최소 너비 설정 */
  height: 100%;
  border-radius: 10px;
  /* box-sizing: border-box; */
}

.layout-container > .right-user-info {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.layout-container > .right-user-info.visible {
  width: 300px;
}

.layout-container > .right-channel {
  width: 230px; /* 고정된 너비 */
  min-width: 200px; /* 최소 너비 설정 */
  height: 100%;
  border-radius: 10px;
  /* box-sizing: border-box; */
}

@media (max-width: 1024px) {
  .right,
  .right-channel,
  .right-user-info {
    display: none;
  }
}

/* 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {
  .layout-container {
    gap: 5px; /* 간격 축소 */
  }

  .layout-container > .left {
    display: none; /* right 섹션 숨기기 */
  }

  .layout-container > .right {
    display: none; /* right 섹션 숨기기 */
  }

  .layout-container > .center {
    flex: 1; /* 남은 공간을 모두 차지 */
  }
}
