.channel-bar {
  background-color: #e3e5e8;
  display: flex;
  width: 55px;
  height: 100vh;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
}

.home-img {
  position: sticky;
  top: 0; /* 스크롤 시 고정될 위치 */
  z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.home-img img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
}

.channel-img-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

/* 스크롤바 숨기기 */
.channel-img-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.channel-img-container {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.channel-img {
  width: 45px;
  height: 45px;
}

.channel-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.channel-add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #ff5a5f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  object-fit: cover;
}

.channel-add-btn div {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
