.channel-nav-container {
  display: flex;
  width: 230px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  background: #fff;
  gap: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.channel-nav-container hr {
  width: 190px;
  border: none;
  border-top: 1px solid #80848e;
  margin: 5px auto;
}

.study-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #f2f3f5 0%, #f2f3f5 100%);
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}

.study-name-container p {
  padding-left: 5px;
  color: #101010;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.study-name-container button {
  display: flex;
  align-items: center;
  width: 10px;
  height: 10px;
  color: #80848e;
  cursor: pointer;
  border: none;
}

.channel-nav-container > .channel-container {
  display: flex;
  width: 230px;
  max-width: 230px;
  height: 31px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.channel-nav-container > .channel-container p {
  color: #80848e;
  font-size: 12px;
  font-weight: 500;
}

.hover {
  display: flex;
  width: 220px;
  max-width: 220px;
  height: auto;
  padding: 8px 10px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.hover-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
}

.channel-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
}

.hover:hover {
  border-radius: 5px;
  background: #e3e5e8;
  cursor: pointer;
}

.hover:hover p {
  color: #000;
}

.study-name-container .options-modal {
  position: absolute;
  top: 114%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 95%;
  background-color: #f2f3f5;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.study-name-container .options-modal.open {
  max-height: 200px;
  opacity: 1;
  transform: translateX(-50%) scaleY(1);
}

.study-name-container .options-modal option:hover {
  background-color: #fff;
}

.options-modal .option {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options-modal .option:hover {
  background-color: #fff; /* 배경색을 하얗게 설정 */
}

.channel-modal {
  width: 140px;
  height: 80px;
  background-color: #f2f3f5;
  transform: scaleY(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.channel-modal.open {
  transform: scaleY(1);
  opacity: 1;
}

.channel-modal .option {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.channel-modal .option:hover {
  background-color: #fff;
}
