.study-nav-container {
  display: flex;
  width: 230px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  align-self: stretch;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.study-name-container {
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  justify-content: space-between;
  height: 45px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(0deg, #f2f3f5 0%, #f2f3f5 100%);
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}
/* .dialog {
  margin: 10px auto 0;
  box-sizing: border-box;
  display: flex;
  width: 206px;
  height: 25px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #f2f3f5;
} */

.dialog {
  margin: 0px auto 0;
  box-sizing: border-box;
  display: flex;
  width: 206px;
  height: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #fff;
}
*/ .dialog input {
  border: none;
  outline: none;
  width: 176px;
  height: 15px;
  font-size: 12px;
  background-color: transparent;
}

.dialog button {
  border: none;
  background-color: transparent;
}

.menus {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: stretch;
}

.menu {
  display: flex;
  height: 31px;
  padding: 0px;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  width: 206px;
  cursor: pointer;
}

.menu svg {
  margin-left: 10px;
}

.menu p,
.menu-text {
  color: #80848e;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.menu:hover {
  color: #000;
  border-radius: 5px;
  background: #e3e5e8;
}

.menu:hover p {
  color: #000;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 206px;
  margin: 0 auto;
}

.messages-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #80848e;

  font-family: Montserrat;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}

.messages-menu button {
  color: #80848e;
}

.message-menu-toggle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.messages-menu button {
  background-color: transparent;
  border: none;
}

.message-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

.message-info li {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  padding-left: 5px;
}

.message-info li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.message-info li p {
  color: #060607;
  font-size: 8px;
  font-weight: 700;
}

.user-image-container {
  width: 30px;
  height: 30px;
  min-width: 30px;
  position: relative;
}

.message-info-status {
  display: flex;
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 40%;
  height: 40%;
}
