.user-bar {
  position: relative;
}

.user-bar-container {
  display: flex;
  width: 230px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
}

.user-img {
  width: 40px;
  height: 40px;
}

.user-img-container {
  width: 40px;
  height: 40px;
  min-width: 40px;
  position: relative;
}

.user-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.user-info h4,
.user-info p {
  margin: 0px;
}

.user-info h4 {
  font-size: 14px;
  font-weight: 700;
}

.user-info p {
  font-size: 8px;
  font-weight: 300;
  opacity: 0.5;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.status-icon {
  display: flex;
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 40%;
  height: 40%;
}

.user-name {
  max-width: 70px; /* 최대 너비 지정 (필요에 따라 조절) */
  white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
  display: block; /* 블록 요소로 지정 */
}
