.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /* margin: 10px; */
  /* box-sizing: border-box; */
}

.user-info-background {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 95px;
  background: #f2f3f5;
  /* padding: 10px; */
  border-radius: 10px 10px 0px 0px;
  gap: 15px;
  /* box-sizing: border-box; */
}

.accept-block-icon {
  display: flex;
  height: 30px;
  padding: 10px;
  gap: 10px;
}

.accept-block-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #e3e5e8;
  border-radius: 50%;
}

.user-info-detail {
  flex: 1;
  width: 100%;
  /* height: 80%; */
  /* min-height: 100vh - 132px; */
  /* padding: 10px; */
  background: #fff;
  /* box-sizing: border-box; */
  border-radius: 0px 0px 10px 10px;
}

.user-profile-image-container {
  display: flex;
  position: relative;
  left: -30%;
  top: 100%;
}

.user-profile-image {
  position: relative;
  top: -50px;
  left: 30px;
  /* z-index: 1; */
  width: 95px;
  height: 100px;
  border-radius: 50%;
}

.user-info-detail {
  /* position: relative;
  top: -104px; */
}

.user-info-detail h2 {
  font-size: 30px;
  margin-bottom: 6px;
  margin-top: 5px;
}

.user-info-contents {
  margin-top: 25px;
  padding: 20px;
}

.user-registration-container {
  display: flex;
  width: 100%;
  height: 58px;
  padding: 17px 10px;
  gap: 0;
  flex-direction: column;
  border-radius: 10px;
  background: #f2f3f5;
  box-sizing: border-box;
}

.user-registration-container h5,
.user-registration-container p {
  margin: 0;
  font-size: 10px;
}

.user-registration-container h5 {
  font-weight: 700;
}
