.inner-header {
  background-color: #f2f3f5;
  width: 100%-20px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top-left-radius: 10px; /* 좌측 상단 라운드 처리 */
  border-top-right-radius: 10px; /* 우측 상단 라운드 처리 */
}

.inner-header .left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inner-header .buttons {
  display: flex;
  gap: 5px;
}

.inner-header .button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.inner-header .button.red {
  background-color: #fc615d;
}

.inner-header .button.yellow {
  background-color: #fdbc40;
}

.inner-header .button.green {
  background-color: #34c749;
}

.inner-header-ment {
  /* color: #ff5a5f; */
  color: rgb(20, 40, 160);
  font-weight: bold;
}

.inner-header-bold {
  font-weight: bold;
  font-size: 20px;
}
