.create-channel-modal {
  width: 25%;
  min-width: 370px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
  border-radius: 10px;
  background: #e3e5e8;
  box-sizing: border-box;
  overflow: hidden;
  border: none;
  margin: auto;
}

.create-channel-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.create-channel-modal h2 {
  height: 20px;
  align-self: stretch;
  color: #6f6f6f;
  text-align: center;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.create-channel-modal hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  margin: 5px 0;
}

/* 채널 종류 */
.create-channel-modal > .channel-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  flex: 1;
  height: 230px;
  cursor: pointer;
}

.channel-item-container {
  min-width: 310px;
  flex: 1;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
}

.channel-item-container.active {
  border: #6f6f6f 1px solid;
}

.channel-item-container .channel-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.channel-info {
  flex: 1;
}

.channel-name {
  flex-grow: 1;
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.channel-description {
  color: #6f6f6f;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
}

/* 채널 이름 입력 */
.create-channel-input {
  width: 100%;
}

.create-channel-input h4 {
  color: #6f6f6f;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.channel-name-container {
  margin-top: 10px;
  min-width: 310px;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}

.channel-name-container > .channel-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}

.channel-name-container input {
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

.channel-name-container input::placeholder {
  color: #6f6f6f;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
}

/* 버튼 */
.channel-create-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.create-cancel,
.create-confirm {
  display: flex;
  width: 104px;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.create-cancel {
  background: #6f6f6f;
  border: #6f6f6f;
  align-items: center;
}

.create-confirm {
  background: #ff5a5f;
  border: #ff5a5f;
  align-items: center;
}
