.modal-create-ct {
  width: 42%;
  min-width: 400px;
  min-height: 60%;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.modal-create-ct::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-create-ct h2 {
  color: #000;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
}

.modal-create-ct > .error-message {
  color: #ff5a5f;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.coding-test-problem-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.coding-test-problem-input {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.coding-test-problem-input input {
  flex: 1;
  background: #d9d9d9;
  border: none;
  text-align: center;
  padding: 10px;
}

.coding-test-problem-input input::placeholder {
  color: #73757c;
}

.coding-test-problem-input input:focus {
  border: #ff5a5f 1px solid;
  outline: none;
}

/* 문제 추가 & 삭제 버튼 */
.coding-test-add-delete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.coding-test-add-delete .delete {
  visibility: hidden;
  width: 95px;
  height: 30px;
  flex-shrink: 0;
  color: #ff5a5f;
  background: #fff;
  border: #ff5a5f 1px solid;
  cursor: pointer;
}

.coding-test-add-delete .delete.active {
  visibility: visible;
  width: 95px;
  height: 30px;
  flex-shrink: 0;
  color: #ff5a5f;
  background: #fff;
  border: #ff5a5f 1px solid;
  cursor: pointer;
}

.coding-test-add-delete .add {
  width: 95px;
  height: 30px;
  flex-shrink: 0;
  color: #fff;
  background: #ffb3b6;
  cursor: not-allowed;
  border: none;
}

.coding-test-add-delete .add.active {
  width: 95px;
  height: 30px;
  flex-shrink: 0;
  color: #fff;
  background: #ff5a5f;
  cursor: pointer;
}

/* 취소 & 다음 버튼 */
.coding-test-create-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.coding-test-create-actions button {
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  cursor: pointer;
}

.coding-test-create-actions .cancel {
  border: 1px solid #ff5a5f;
  background: #fff;
  color: #ff5a5f;
  cursor: pointer;
}

.coding-test-create-actions .next {
  border: 1px solid #ffb3b6;
  background: #ffb3b6;
  color: #fff;
  cursor: not-allowed;
}

.coding-test-create-actions .next.active {
  border: 1px solid #ff5a5f;
  background: #ff5a5f;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .modal-create-ct {
    min-height: 75%;
  }
}
