.create-event {
  flex-direction: row;
  gap: 50px;
}

.progress-container {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  width: 320px;
  margin-bottom: 30px;
}

.progress-bar {
  color: #6f6f6f;
  width: 100px;
  height: 20px;
  font-size: 12px;
}

.in-progress {
  width: 100px;
  height: 10px;
  border-radius: 10px;
  background-color: #ff5a5f;
}

.yet {
  width: 100px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(255, 90, 95, 0.5);
}

/* calendar css */
.modal-calendar-wrapper .react-calendar {
  width: 320px;
  height: 360px;
  border: none;
  border-radius: 8px;
  padding: 20px 20px 0;
  background: #fff;
}

.modal-calendar-wrapper .react-calendar__navigation__arrow,
.modal-calendar-wrapper .react-calendar__navigation__next-button,
.modal-calendar-wrapper .react-calendar__navigation__prev-button {
  background-color: transparent !important;
  color: inherit;
  border: 2px solid #333;
  font-size: 20px;
  border: none;
}

/*prev2, next2 버튼 사용 안함*/
.modal-calendar-wrapper .react-calendar__navigation__prev2-button,
.modal-calendar-wrapper .react-calendar__navigation__next2-button {
  display: none;
}

/* 년월 표시 타일의 배경색 제거 */
.modal-calendar-wrapper .react-calendar__navigation__label {
  background-color: transparent !important;
  color: inherit;
  border: none;
  font-size: 20px;
}

/*월 화 수 목 금 토 일 밑줄 없애기*/
.modal-calendar-wrapper .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
.modal-calendar-wrapper .react-calendar__tile {
  height: 40px;
}

/* 선택된 타일 설정 */
.modal-calendar-wrapper .react-calendar__tile--active {
  background-color: rgba(255, 90, 95, 0.5);
  color: #ff5a5f;
  font-weight: 600;
  border-radius: 50%;
}
.modal-calendar-wrapper .react-calendar__tile--active:hover {
  background-color: rgba(255, 90, 95, 0.5) !important;
  border-radius: 50%;
}
.modal-calendar-wrapper .react-calendar__tile--active:focus {
  background-color: rgba(255, 90, 95, 0.5) !important;
  border-radius: 50%;
}

.modal-calendar-wrapper .react-calendar__tile:focus,
.modal-calendar-wrapper .react-calendar__tile:hover {
  background-color: rgba(255, 90, 95, 0.5) !important;
  border-radius: 50%;
}

/* 배경색을 투명하게 설정 */
.modal-calendar-wrapper .react-calendar__tile--now {
  background-color: transparent !important;
  color: inherit;
}

/* 오늘 날짜 설정 */
.modal-calendar-wrapper .react-calendar__tile--now {
  background-color: #ffe4b5;
  border-radius: 50%;
}

.modal-calendar-wrapper .react-calendar__tile--now:hover,
.modal-calendar-wrapper .react-calendar__tile--now:focus {
  color: #ff5a5f !important;
}

.modal-calendar-wrapper .react-calendar__tile:focus {
  background-color: #ff5a5f;
}

.modal-calendar-wrapper
  .react-calendar__month-view__days__day--neighboringMonth {
  pointer-events: none;
}

.modal-calendar-wrapper
  .react-calendar__month-view__days__day--neighboringMonth
  abbr {
  visibility: hidden;
}

.modal-calendar-wrapper button:disabled {
  background-color: white;
}

.modal-calendar-wrapper button:disabled:hover,
.modal-calendar-wrapper button:disabled:focus {
  background-color: white !important;
}

.set-time {
  width: 100%;
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
}

.time-picker {
  position: relative;
}

.time-setter {
  position: relative;
}

.label-error-msg-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.error-msg {
  font-size: 12px;
  color: red;
  margin: 4px;
}

label {
  min-height: 20px;
  font-size: 14px;
  margin-bottom: 4px;
  margin-left: 4px;
  display: block;
  color: #6f6f6f;
  font-weight: 600;
}

.time-display {
  width: 120px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  text-align: left;
}

.time-picker-popup {
  position: absolute;
  top: 70px;
  left: 0;
  width: 130px;
  max-height: 130px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;

  display: flex;
  justify-content: space-between;
}

.time-setter-popup {
  position: absolute;
  top: 70px;
  left: 0;
  width: 130px;
  max-height: 130px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;

  display: flex;
  justify-content: space-between;
}

.scroll-options {
  display: flex;
  gap: 20px;
}

.scroll-container {
  width: auto;
  max-height: 120px;
  overflow-y: auto;
  padding: 0;
  border-radius: 4px;
  text-align: center;
  flex: 1;

  /* 스크롤바 숨김 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container2 {
  width: auto;
  max-height: 120px;
  overflow-y: auto;
  padding: 0;
  border-radius: 4px;
  text-align: center;
  flex: 1;

  /* 스크롤바 숨김 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

.ampm-option,
.hour-option,
.minute-option {
  width: 43.2px;
  padding: 8px 0;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.hour-option2,
.minute-option2 {
  width: 65px;
  padding: 8px 0;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.minute-option3 {
  width: 130px;
  padding: 8px 0;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.ampm-option:hover,
.hour-option:hover,
.hour-option2:hover,
.minute-option:hover,
.minute-option2:hover,
.minute-option3:hover {
  background-color: #e5e7eb;
}

.ampm-option.active,
.hour-option.active,
.hour-option2.active,
.minute-option.active,
.minute-option2.active,
.minute-option3.active {
  background-color: #ff5a5f;
  color: white;
}

.prev-btn,
.next-btn {
  cursor: pointer;
}

.set-time input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: #6f6f6f;
}

.time-setter label {
  font-size: 14px;
}

.time-setter input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  color: #6f6f6f;
}

.time-setter input:focus {
  outline: none;
}

.time-setter textarea.explain {
  width: 100%;
  height: 80px;
  border: none;
  resize: none;
  padding: 10px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: sans-serif;
}

.time-setter textarea.explain:focus {
  outline: none;
}

.event-review {
  width: 320px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
}

.event-review .update:hover {
  filter: brightness(0.5);
  transition: filter 0.3s ease;
  cursor: pointer;
  background: url("/src/assets/trash-can.svg") no-repeat center center;
}

.event-review .header {
  display: flex;
  justify-content: space-between;
}

.event-review .time {
  font-size: 16px;
  color: #6f6f6f;
}

.event-review img {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.event-name {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}

.event-description {
  word-break: break-word;
  overflow-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #6f6f6f;
}

.alarm-info {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#eventname {
  margin-bottom: 20px;
}

#colorPicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}

#colorPicker::-webkit-color-swatch {
  border-radius: 30px;
  border: none;
}

.event-review-container .button-container {
  display: flex;
  margin-top: 25px;
  width: 310px;
  justify-content: space-between;
}

.event-review-container .button-container > *:only-child {
  margin-left: auto;
}

.cancel {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: #8c8c8c;
  cursor: pointer;
}

.create {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ff5a5f;
  cursor: pointer;
}

.create:disabled {
  background-color: rgba(255, 90, 95, 0.1);
  cursor: not-allowed;
}

.cancel:hover {
  background-color: #6f6f6f;
}

.create:hover:not(:disabled) {
  background-color: #e04e52;
}

.cancel:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.create:active:not(:disabled) {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.delete-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
