/* 제목 */
.title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #ff6b6b; /* 로고 색 */
  margin: 1rem;
  font-family: "Jersey 25", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* 가로 길이를 화면 전체로 */
  height: 50%;
}

.login-form > div {
  width: 300px; /* 자식 요소의 고정 가로 길이 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  margin-bottom: 10px; /* 각 요소 간 간격 */
}

/* 입력 필드 */
.input-field {
  width: 90%;
  margin: 0 auto;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ff6b6b;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* 로그인 버튼 */
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 45px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ff5a5f;
  background: #ff5a5f;
}

/* 비밀번호 찾기 링크 */
.forgot-password {
  display: block;
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #666;
  text-decoration: none;
}

.divider-container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.divider-text {
  padding: 0 10px;
  font-size: 14px;
  color: #666;
}

/* 소셜 로그인 아이콘 */
.social-login {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 1rem;
}

.social-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* 회원가입 링크 */
.signup {
  font-size: 0.9rem;
  color: #666;
  margin: 1rem;
}

.signup-link {
  color: #ff6b6b;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
}
