.modal-close-ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  min-width: 400px;
  min-height: 60%;
  align-items: center;
  gap: 100px;
  margin: auto;
  border: none;
  overflow: hidden;
  border-radius: 10px;
}

.modal-close-ct::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-close-ct > h2 {
  color: #000;

  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
}

.modal-close-ct p {
  color: #ff5a5f;
}

.modal-close-ct-btn-actions {
  display: flex;
  gap: 10px;
}

.modal-close-ct-btn-actions > button {
  width: 130px;
  height: 45.087px;
  border-radius: 20px;
  background: #ff5a5f;
  border: none;
  cursor: pointer;

  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.modal-close-ct-btn-actions button:nth-child(1) {
  background: #fff;
  border: #ff5a5f solid 1px;
  color: #ff5a5f;
}
