.header {
  color: #6f6f6f;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}
.upload-container {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
}

.upload-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.upload-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.upload-preview.rounded {
  border-radius: 50%;
}

.input-container {
  width: 310px;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.input-container-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-container-title label {
  width: 70%;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #6f6f6f;
}

.input-container input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: #6f6f6f;
}

.input-container input:focus {
  outline: none;
  border: none;
}

.button-container {
  display: flex;
  margin-top: 25px;
  width: 310px;
  justify-content: space-between;
  /* gap: 20px; */
}

.cancel {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: #8c8c8c;
  cursor: pointer;
}

.create {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: #ff5a5f;
  cursor: pointer;
}

.create:disabled {
  background-color: #ffb3b6;
  cursor: not-allowed;
}

.cancel:hover {
  background-color: #6f6f6f;
}

.create:hover:not(:disabled) {
  background-color: #e04e52;
}

.cancel:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.create:active:not(:disabled) {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.error-message {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: red;
  font-size: 12px;
  display: flex;
  justify-content: flex-end; /* span을 오른쪽 정렬 */
}
