.alert-container {
  height: calc(100vh - 154px);
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px; /* 스크롤바 공간 확보 */
}

.alert-item-container {
  flex: 1; /* 남은 공간을 모두 차지 */
  overflow-y: hidden; /*세로 스크롤 활성화*/
  display: flex;
  align-items: center;
  padding: 1px 20px;
  gap: 16px;
  box-sizing: border-box;
}

.alert-container hr {
  width: 100%;
  height: 0.5px;
  background-color: #80848e;
}

.alert-from-profile {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 100px;
  position: relative;
  box-sizing: border-box;
}

.alert-from-profile img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.alert-from-profile > .user-status {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.alert-from-profile img {
  border-radius: 50%;
}

.alert-info-actions-container {
  display: flex;
  flex: 1;
  /* padding: 0; */
  justify-content: space-between;
  align-self: stretch;
}

.alert-info-container {
  display: flex;
  padding: 9px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.alert-info-date {
  color: #828282;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.alert-info {
  color: #666;
  font-size: 18px;
  font-weight: 700;
}

.alert-info span {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.alert-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.alert-actions .green {
  border: 2px solid #5ac934;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-sizing: border-box; */
}

.alert-actions .red {
  border: 2px solid #da3f3f;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-sizing: border-box; */
}

.alert-actions .grey {
  border: 2px solid #b5b7ba;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-sizing: border-box; */
}

.no-alerts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #777;
}
