.coding-test-start {
  width: 100%;
  /* height: 100%; */
  height: calc(100vh - 154px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 88px;
  overflow: hidden;
}

.coding-test-start h2 {
  color: #979797;
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
}

.coding-test-start-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.coding-test-start-question h4 {
  color: #979797;

  text-align: center;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}
.coding-test-start-question button {
  width: 146px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #ff5a5f;
  background: #ff5a5f;
  color: #fff;

  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.ct-page-loading {
  height: calc(100vh - 154px);
  background: #fff;
  color: #979797;
  font-size: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
