.inner-footer {
  background-color: #f2f3f5;
  width: 100%;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center; /* 세로 정렬 */
  border-bottom-left-radius: 10px; /* 좌측 상단 라운드 처리 */
  border-bottom-right-radius: 10px; /* 우측 상단 라운드 처리 */
}
