.status-menu {
  border-radius: 10px;
  background: #e3e5e8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 194px;
  min-height: 194px;
  position: absolute;
  top: -200px;
  z-index: 1000;
  box-sizing: border-box;
}

.icon-container {
  width: 20px;
  height: 20px;
}

.status-menu-item-container {
  display: flex;
  width: 250px;
  height: 36px;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
}

.status-icon-check {
  display: flex;
  width: 225px;
  height: auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.status-icon-check p {
  color: #6f6f6f;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.status-menu-hr {
  border: none;
  height: 1px;
  background-color: #80848e;
  margin: 4px 0;
  width: 100%;
}

.status-check {
  display: flex;
  align-items: center;
  width: 13px;
  height: 10.9px;
  stroke-width: 3px;
  color: #ff5a5f;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s;
  opacity: 0;
}

.status-menu-item-container:hover .status-check {
  visibility: visible;
  opacity: 1;
}
