.web-rtc {
  height: calc(100vh - 154px);
}

.web-rtc-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #888888;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.participants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  width: 100%;
  height: auto;
  padding: 2vh;
  box-sizing: border-box;
}

.participant {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #e3e5e8;
  border-radius: 2vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.participant-image {
  width: 8vh;
  height: 8vh;
  object-fit: cover;
  border-radius: 50%;
}

.name-wrapper {
  font-size: 1.5vh;
  border-radius: 1vh;
  text-align: center;
  position: absolute;
  padding: 0.5vh;
  bottom: 1vh;
  left: 1vh;
  margin: 0;
  font-weight: 600;
  color: #fff;
  background-color: #ff5a5f;
}

.rtc-footer {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(20%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
}

.rtc-setting {
  display: flex;
  gap: 20px;
}

.settings {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  border-radius: 50%;
  background-color: #6a7480;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.settings-off {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.disconnect {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ff5a5f;
  transition: background-color 0.3s ease-in-out;
}

.full-screen-icon {
  width: 3vh;
  height: 3vh;
  display: flex;
  align-items: end;
  cursor: pointer;
}

.disconnect:hover {
  background-color: #f00;
}

.web-rtc-content:hover {
  box-shadow: inset 0px -40px 40px -20px rgba(0, 0, 0, 0.6);
}

.web-rtc-content:hover .rtc-footer {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}
